img {
    width: 30%;
    float: left;
    padding: 0;
    margin: 1.6%;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 1.6%;
    border-bottom: 2px lightgray solid;
    width: 30%;
    padding-bottom: 20px;
}